!!! 5
html
  head
    include includes/head
  body#section
    header
      sel = '/contact.html'
      include includes/header
    #hs(role='banner')
      .container
        i.sprite.hi
        hgroup
          h1 Contact
    #content(role='main')
      .container
        include includes/company
        #new-project
          p Thanks for contacting us!
    include includes/footer
