!!! 5
html
  head
    include includes/head
  body#home
    include includes/header
    .content(role='main')
      section#about.container
        include includes/about
      section#services.container
        include includes/services
      section#work.container
        include includes/work
      section#our-process.container
        include includes/process
      section#team.container
        include includes/team
      .start-project
        a(href='mailto:hello@irbislab.com') Start your Project with Irbis Lab
    include includes/footer
