!!! 5
html
  head
    title Irbis Lab | Mobile and Web Development, iOS Apps
    style.
      p {
        font-family: "Helvetica Neue", Arial, sans-serif;
        font-size: 14px;
        line-height: 10px;
      }
  body
    p
      a(href='/')
        b Irbis Lab
      | , Mobile and Web Development
    p Have a Project in Mind? 
      a(href='mailto:hello@irbislab.com')
        b Get in Touch
