!!! 5
html
  head
    include includes/head
  body#section
    header
      sel = '/work.html'
      include includes/header
    #hs(role='banner')
      .container
        i.sprite.hi
        hgroup
          h1 Work
    #content(role='main')
      .container
        include includes/process
        #new-project
          p Have a Project in Mind?
          a.sprite.get-in-touch(href='mailto:hello@irbislab.com')
            b Get in Touch
    include includes/footer
