@import "mixins", "animations";

// variables

$max-width: 920px;

// colors

$gray: #ddd;
$dark-gray: #222321;
$light-gray: #f1efec;
$orange: #f1903a;
$pink: #682c83;
$text: #999;

// functions

// result = target / context
@function result($target, $context) {
  @return percentage($target / $context);
}

// general

html, body,
div, span,
h1, h2, h3, h4, h5, h6,
p, a, img,
strong, i,
ul, li,
label, figure,
footer, header, hgroup, nav, section {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

// HTML5 display reset for older browsers
figure, footer, header, hgroup, nav, section {
  display: block;
}

$fsize: 16px;
html {
  background: #fff;
  font-size: $fsize;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

$font-main: "Ubuntu", "Helvetica", sans-serif;
body {
  color: #333;
  font: #{percentage(10px / $fsize)}/1.5 $font-main;
}

::selection {
  background-color: $orange;
  color: #fff;
  text-shadow: none;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  font-family: $font-main;
}
input:-ms-input-placeholder {
  font-family: $font-main;
}
::-webkit-input-placeholder {
  font-family: $font-main;
}

input, textarea {
  font-family: $font-main;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
  &:hover, &:active {
    outline: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}

// heading sizes
$e: 6;
@for $i from 1 through 4 {
  h#{$i} {
    font-size: 1em * $e;
  }
  $e: $e - 1;
}

strong {
  font-weight: 400;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 2em;
}

// header

$bp1: 760px;

.no-touch header label:hover {
  background-color: $pink;
  color: #fff;
}

.header {
  background-image: url(/images/mountains.jpg);
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  background-image: url(/images/iso.png);
  display: block;
  height: 40px;
  margin: 0 auto;
  width: 40px;

  @include min-screen($bp1) {
    float: left;
    margin: 0;
  }
}

header {
  background: rgba(0, 0, 0, 0.30);
  padding: 7px 0;
  text-align: center;
  width: 100%;

  @include min-screen($bp1) {
    position: fixed;
    text-align: left;
    z-index: 3;

    .container {
      padding: 0 6em;
    }
  }
}

#nav-toggle {
  display: none;
  &:checked + nav > ul {
    margin-top: 1em;
    max-height: 240px;
  }
}

.nav-collapse {
  @include border-radius(4px);
  color: $gray;
  cursor: pointer;
  font-size: 2.8em;
  padding: 0 3px;
  position: absolute;
  right: 3%;
  top: 6px;

  @include min-screen($bp1) {
    display: none;
  }
}

nav {
  @include min-screen($bp1) {
    float: right;
  }
}

.header-nav {
  max-height: 0px;
  overflow: hidden;
  @include min-screen($bp1) {
    max-height: 4em;
  }

  li {
    border-top: 1px solid $light-gray;
    cursor: pointer;

    @include min-screen($bp1) {
      border: none;
      display: inline-block;

      &:nth-child(n+2) {
        margin-left: 3.6em;
      }
    }
  }

  a {
    color: $gray;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 2.7em;
    text-transform: uppercase;

    &:hover {
      color: $orange;
      @include transition(color 0.2s ease-in-out, opacity 0.2s ease-in-out);
    }
  }
}

.banner {
  color: #fff;
  padding: 3.2em 0;
  text-align: center;

  hgroup {
    margin: 0 auto;
  }

  @include min-screen($bp1) {
    padding: 10.6em 0 5.2em;
  }
  @include min-screen(800px) {
    padding: 19.6em 0 14.2em;
  }

  h1, h2 {
    font: {
      size: 2.6em;
      weight: 500;
    }
    margin-bottom: 0.33333em;

    @include min-screen(480px) {
      font-size: 4em;
    }
    @include min-screen(800px) {
      font-size: 5em;
    }
  }
}

// content

section {
  margin: 1.81818em 0;
}

.content {
  padding: 6em 0 0;

  h3 {
    font-size: 3em;
    font-weight: 500;

    @include min-screen(660px) {
      font-size: 4em;
    }
  }

  p {
    color: $text;
    font-size: 1.8em;
    font-weight: 300;
    line-height: 1.6em;
    margin-bottom: 0.6em;

    @include min-screen(660px) {
      font-size: 2.3em;
    }
  }
}

// start project

.start-project {
  background-color: #eee;
  margin: 0 auto;
  padding: 12em 0;
  text-align: center;

  a {
    background-color: $pink;
    color: #fff;
    display: inline-block;
    font-size: 2.6em;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding: 0.4em 0.6em;

    &:hover {
      background-color: $orange;
    }
  }
}

// what we do

.service {
  margin: 2em auto 0;
  text-align: center;
  width: 80%;

  @include min-screen(600px) {
    float: left;
    width: 33.33333%;
  }

  img {
    margin-bottom: 1em;
  }

  p {
    font-size: 1.8em;
    margin-top: 0.625em;
    padding: 0 4%;
  }
}

.service-title {
  font: {
    size: 2em;
    weight: 600;
  }
  line-height: 1em;
  margin-top: 0;

  @include min-screen(600px) {
    margin-top: 0.5em;
  }
}

// team

#irbers {
  margin: 3em auto;
}

.irber {
  display: block;
  text-align: center;

  p {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  p:first-of-type {
    color: $dark-gray;
    font-weight: 500;
  }

  @include min-screen(600px) {
    float: left;
    width: 33.33333%;
  }

  figure {
    background: #fff;
    border: 2px solid $gray {
      radius: 50%;
    }
    box-shadow: 0 0 0 5px $light-gray;
    display: inline-block;
    padding: 0.5em;
    position: relative;

    &:hover {
      a {
        opacity: 1;
      }

      .social-icon-gh {
        background-color: $pink;
      }
      .social-icon-tw {
        background-color: #12b1d9;
      }
      .social-icon-lk {
        background-color: $orange;
      }
      .inactive {
        background-color: $gray;
      }
    }
  }
}

.irber-pic {
  border-radius: 50%;
  display: block;
  @include transition(all 0.4s ease-in-out);
}

.irber-social {
  bottom: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}

.social-icon {
  background: $gray url(../images/social-sprite.png) no-repeat;
  border-radius: 50%;
  color: transparent;
  display: inline-block;
  font: 0/0 a;
  height: 36px;
  opacity: 0.6;
  width: 36px;
  @include transition(all 0.4s ease-in-out);
}
.social-icon-gh {
  background-position: -87px 6px;
}
.social-icon-tw {
  background-position: 7px 6px;
}
.social-icon-lk {
  background-position: -56px 4px;
}

// our process

.process {
  margin: 2em auto;
}

.phase {
  margin: 2em auto 0;
  text-align: center;
  width: 80%;

  @include min-screen(600px) {
    float: left;
    width: 25%;
  }

  p {
    font-size: 1.4em;
    margin-top: 0.625em;
    padding: 0 4%;
  }

  strong {
    background-color: #ffff88;
    color: $dark-gray;
    padding: 0.1em 0.3em;
  }
}

.phase-title {
  font: {
    size: 2em;
    weight: 600;
  }
  line-height: 1em;
  margin-top: 0;

  @include min-screen(600px) {
    margin-top: 0.5em;
  }
}

.phase-image {
  background: url(/images/process-sprite.png) no-repeat;
  display: block;
  height: 180px;
  margin: 0 auto 2em;
  width: 230px;
}
.phase-research {
  background-position: left top;
}
.phase-design {
  background-position: -230px top;
}
.phase-development {
  background-position: -460px top;
}
.phase-deployment {
  background-position: -690px top;
}

// work

.products {
  margin: 40px 0;
  overflow: hidden;
}

.products li {
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  display: block;
  height: 220px;
  margin: 0 auto;
  padding: 40px 4%;
  text-align: center;
  width: 92%;

  @include min-screen(520px) {
    height: 280px;
    padding: 40px 20px;
    width: 420px;
  }

  @include min-screen(980px) {
    float: left;
    margin: 0;
  }
}

.products h2, .products p, .products a {
  color: #fff;
}

.products p, .products a {
  @include min-screen(960px) {
    opacity: 0;
  }
}

.products li h2 {
  display: inline-block;
  font-size: 3em;
  overflow: hidden;
  position: relative;

  @include min-screen(520px) {
    font-size: 6em;
  }

  @include min-screen(960px) {
    opacity: 0.9;
    top: 92px;
  }
}

.products li p {
  margin: 10px auto 30px;
  max-width: 280px;

  @include min-screen(520px) {
    max-width: 360px;
  }

  @include min-screen(960px) {
    margin: 40px auto;
  }
}

.products li a {
  @include border-radius(6px);
  border: 2px solid #fff;
  color: #fff;
  font-size: 1.4em;
  font-weight: 400;
  // margin-top: 120px;
  padding: 0.8em 1.6em;
  text-decoration: none;
  text-transform: uppercase;

  @include min-screen(520px) {
    font-size: 2em;
  }
}

.products .arrow {
  @include rotate(45);
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  height: 0.8em;
  display: inline-block;
  left: 0.25em;
  overflow: hidden;
  text-indent: -9999px;
  width: 0.8em;
}

.products li > * {
  @include transition(all .5s ease-in-out);
}

.products li:hover > * {
  @include min-screen(960px) {
    margin-top: 0;
    opacity: 1;
    top: 0 !important;
  }
}

.product-watch {
  background: url(/images/work-watch-bg.png) no-repeat;
}
.product-coolibri {
  background: url(/images/work-coolibri-bg.png) no-repeat;
}
.product-spaces {
  background: url(/images/work-spaces-bg.png) no-repeat;
}
.product-ushuaia {
  background: url(/images/work-ush-bg.png) no-repeat;
}
.product-k2 {
  background: url(/images/work-k2-bg.png) no-repeat;
}
.product-ioa {
  background: url(/images/work-ioa-bg.png) no-repeat;
}

// footer

footer {
  background-color: #222;
  color: $text;

  p {
    display: inline-block;
    font-weight: 300;
    vertical-align: top;
  }

  a {
    color: $text;
    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
  }
}

.footer-info {
  float: left;
  margin-right: 6em;

  p {
    display: block;
    font-size: 1.6em;
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  strong {
    color: #fff;
    display: block;
    font: {
      size: 1.2em;
      weight: 400;
    }
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;
  }
}

.footer-links {
  float: left;

  ul {
    margin-top: 1em;
  }

  li {
    font: {
      size: 1.4em;
      weight: 300;
    }
    margin-bottom: 0.2em;
  }
}

.footer-links, .footer-info {
  padding: 1.4em 0;
}

.footer-social {
  margin-left: 4em;
}

.footer-nav, .footer-social {
  float: left;

  @include min-screen(640px) {
    margin-left: 8em;
  }
}

.footer-logo {
  padding: 2em 0;
  text-align: center;
  width: 100%;

  img {
    height: 40px;
    width: 40px;
    &:hover {
      @include animation(tada);
    }
  }
}

.copy {
  font-size: 1.1em;
  margin-right: 0;
  padding: 2em 0;
  text-align: center;
  width: 100%;
}

// clearing

.container:after {
  clear: both;
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
  }
  &:after {
    clear: both;
  }
}
