h2#lps
  span Our Projects
section#work
  #projects.container
    .project(itemscope, itemtype='http://schema.org/MobileApplication')
      a.img(href='#lps', itemprop='url')
        i.sprite.label.coming-soon
        span#project-watch.project-image
          img(src='images/projects/watch.png', alt='Watch',
            itemprop='image')
      i.sprite.project-shadow
      .project-info
        i.sprite.doodle.left
        strong.project-name(itemprop='name') Watch
        i.sprite.doodle.right
        span(itemprop='description') Find the movies you want to watch
    .project(itemscope, itemtype='http://schema.org/MobileApplication')
      a.img(href='#lps', itemprop='url')
        i.sprite.label.coming-soon
        span#project-coolibri.project-image
          img(src='images/projects/coolibri.png', alt='Coolibri',
            itemprop='image')
      i.sprite.project-shadow
      .project-info
        i.sprite.doodle.left
        strong.project-name(itemprop='name') Coolibri
        i.sprite.doodle.right
        span(itemprop='description') Brings your tweets to life
