h2
  span Meet the Team
section#team
  ul#irbers
    li.irber(itemscope, itemtype='http://schema.org/Person')
      figure
        img(src='images/team/ale.jpg', alt='Alejandro Vasta',
          itemprop='image')
        span
          a.icn-tw(target='_blank', href='http://twitter.com/alejandrovasta')
            Ale on Twitter
          a.icn-lk(target='_blank', href='http://www.linkedin.com/pub/alejandro-vasta/14/751/37')
            Ale on LinkedIn
      strong(itemprop='name') Alejandro Vasta
      | Web Developer
      p(itemprop='description').
        I'm passionate about researching and designing web and
        mobile products that generate new businesses.
    li.irber(itemscope, itemtype='http://schema.org/Person')
      figure
        img(src='images/team/gus.jpg', alt='Gustavo Leguizamon',
          itemprop='image')
        span
          a.icn-gh(target='_blank', href='http://github.com/goopi')
            Gustavo on GitHub
          a.icn-tw(target='_blank', href='http://twitter.com/goopi')
            Gustavo on Twitter
          a.icn-lk(target='_blank', href='http://www.linkedin.com/in/gustavoleguizamon')
            Gustavo on LinkedIn
      strong(itemprop='name') Gustavo Leguizamon
      | JavaScript, Python and iOS Developer
      p(itemprop='description').
        Curious and eager learner. My passion lies in programming
        languages, coding, research and design products. I love sports.
    li.irber(itemscope, itemtype='http://schema.org/Person')
      figure
        img(src='images/team/marcus.jpg', alt='Marcos Moline',
          itemprop='image')
        span
          a.icn-tw(target='_blank', href='http://twitter.com/marcosmoline')
            Marcos on Twitter
          a.icn-lk(target='_blank', href='http://www.linkedin.com/in/marcosmolinemobiledeveloper')
            Marcos on LinkedIn
      strong(itemprop='name') Marcos Moline
      | iOS Developer
      p(itemprop='description').
        My main interest is in mobile technologies and the way
        they changed the software industry perspective. I love
        guitars and motorcycles.
