h2
  span What We Do
section
  #what-we-do.container
    #development
      img(src='images/wwd/development.png', alt='Development & Design')
      h3 Development & Design
      p.
        We design and develop products by carefully following
        well defined stages of software development.
      a(href='/work.html') Learn about our process
    #own-projects
      img(src='images/wwd/projects.png', alt='Startups & Own Projects')
      h3 Startups & Own Projects
      p.
        We like to develop and manage our own projects based on
        our interests and preferred technologies.
      a(href='#lps', role='button') View our projects
    #types-of-work
      img(src='images/wwd/types.png', alt='Types of Work')
      h3 Types of Work
      p.
        We provide integrated solutions, including iOS and
        Server-Side development, Product and UI/UX design.
