h3 About
p Irbis Lab is an Argentinian software development company founded in 2012. Our mission is to craft through hard-work great web and mobile apps focusing on simplicity and creativity. We pursue excellence and not only our clients’ happiness, but also ours.
