include mixins

.header
  header
    .container
      a.logo(href='/', title='Irbis Lab')
      label.nav-collapse(for='nav-toggle') ☰
      input#nav-toggle(type='checkbox')
      nav(role='navigation')
        ul.header-nav
          +item('#home', 'h') Home
          +item('#about', 'a') About
          +item('#work', 'w') Work
          +item('#our-process', 'o') Our Process
          +item('#team', 't') Team
          +item('mailto:hello@irbislab.com', 'g') Get in Touch
  .banner(role='banner')
    .container
      hgroup
        h1 Hi, we are Irbis Lab
        h2 We help clients turn their ideas into great products.
