include mixins

div.container
  a.logo(href='/', title='Irbis Lab')
    img(src='images/iso-blast.png', alt='Irbis Lab')
  label(for='nav-toggle') ☰
  input#nav-toggle(type='checkbox')
  nav(role='navigation')
    ul
      li
        +item('/', 'h') Home
      li
        +item('/about.html', 'a') About
      li
        +item('/work.html', 'w') Work
      li
        +item('mailto:hello@irbislab.com', 'c') Contact
