meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='author', content='Irbis Lab - Mobile and Web Development')
meta(name='description', content='We are a small team of developers who are passionate about creating great products.')
meta(name='keywords', content='Development, Design, Product, iOS, iPad, iPhone, iPod')
// Mobile
meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0')
// Open Graph
meta(property='og:title', content='Irbis Lab - Mobile and Web Development')
meta(property='og:url', content='http://irbislab.com/')
meta(property='og:description', content='We are a small team of developers who are passionate about creating great products.')
meta(property='og:image', content='http://irbislab.com/images/irbis-fb.png')
title Irbis Lab | Mobile and Web Development, iOS Apps
link(rel='logo', type='image/svg', href='images/irbis-logo.svg')
// Icons
link(rel='icon', href='images/icon/favicon.ico', type='image/x-icon')
link(rel='apple-touch-icon-precomposed', href='images/icon/apple-touch-icon.png')
link(rel='apple-touch-icon-precomposed', sizes='114x114', href='images/icon/apple-touch-icon-114.png')
link(rel='apple-touch-icon-precomposed', sizes='72x72', href='images/icon/apple-touch-icon-144.png')
link(rel='apple-touch-icon-precomposed', sizes='144x144', href='images/icon/apple-touch-icon-144.png')
link(rel='stylesheet', href='stylesheets/style.css')
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Raleway:300,400,800')
script(src='javascripts/modernizr.js')
