h2
  span Our Process
section#our-process
  #plan
    img(src='images/process/plan.png', alt='Discovery and Plan')
    div
      h3 Discovery and Plan
      p.
        We begin defining the scope of your project and understanding
        your business objectives. After performing a broad requirements
        gathering, we discuss about the product design and the right
        architecture. After that, we’ll provide a preliminary budget and
        project timeline.
  #design
    img(src='images/process/design.png', alt='Design')
    div
      h3 Design
      p.
        We seriously believe that design is a critical part of each
        project. Our main concern in this stage is to have the simplest
        and most efficient solution.
      blockquote
        p.
          Design is not just what it looks like and feels
          like. Design is how it works
        footer — Steve Jobs
      p
        | We work side by side with 
        a(href='http://esmile.com.ar/', title='Esmile', target='_blank').
          design studio Esmile
        |  to create appealing product identities.
  #development
    img(src='images/process/development.png', alt='Development')
    div
      h3 Development
      p.
        As the final product is more important than extensive
        documentation, our development process is based on Agile
        methodologies, such as TDD (Test-driven development), which
        aim at having projects be broken down into small, deliverable
        cycles. Each cycle starts defining the functionality to be
        implemented and finishes once all the features have been
        tested successfully.
      p.
        It’s worth noting our preference for lightweight tools over
        giant, monolithic ones. We are convinced that these flexible
        and simple tools let you focus on the concrete problem domain
        to solve, boosting efficiency and code reliability. Some of
        the tools we work with are: Sinatra for Ruby, Flask for Python
        and Node.js. We also like to use Redis on some of our projects.
  #deployment
    img(src='images/process/deployment.png', alt='Deployment')
    div
      h3 Deployment
      p.
        Your product will be ready to reach the targeted users after we
        set up your deployment environment. We will handle the gritty
        configuration details so you can focus on what’s important to you:
        your business and clients.  We can also help you out with social
        media and overall web presence.
  #finally
    img(src='images/process/finally.png', alt='Finally')
    div
      h3 Future
      p.
        There is no last step in this whole process... we believe in
        long lasting business relationships, so we will always be
        available in the future to help you find new opportunities
        or develop new features that improve your products.
