h3 Our Process
p With <strong>Irbis Lab</strong>, you are choosing to work with us as a team. We works with you from business & product strategy to deployment and first clients interactions.

.process.clearfix
  .phase
    b.phase-image.phase-research(title='Research & Discovery')
    div
      h1.phase-title Research & Discovery
      p We begin defining the scope of your project and understanding your <strong>business objectives</strong>. After performing a broad requirements gathering, we discuss about the <strong>product design</strong> and the right <strong>architecture</strong>.
  .phase
    b.phase-image.phase-design(title='Design')
    div
      h1.phase-title Design
      p We seriously believe that design is a critical part of each project. Our main concern in this stage is to have the <strong>simplest</strong> and <strong>most efficient</strong> solution.
  .phase
    b.phase-image.phase-development(title='Development')
    div
      h1.phase-title Development
      p Our development process is based on <strong>Agile methodologies</strong>, such as TDD (Test-driven development), which aim at having projects be broken down into small, deliverable cycles (Sprints). Features are <strong>delivered incrementally</strong>.
  .phase
    b.phase-image.phase-deployment(title='Deployment')
    div
      h1.phase-title Deployment
      p Your product will be ready to reach the targeted users after we set up your deployment environment. We will handle the gritty configuration details so you can focus on what’s important to you: <strong>your business and clients</strong>.

p We believe in <strong>long lasting business relationships</strong>, so we will always be available in the future to help you find new opportunities or develop new features that <strong>improve your products</strong>.

h4 Our Tools
p It’s worth noting our preference for <strong>lightweight tools</strong> over giant, monolithic ones. We are convinced that simple tools let you focus on the <strong>concrete problem domain</strong> to solve, boosting efficiency and code reliability. Some of the tools we work with are: Sinatra, Flask and Node.js. We also like to use Redis and MongoDB.
