h4 Services
p We provide comprehensive solutions, Mobile and Cloud Development, including full integrations with third party services, such as Twitter and Facebook.
.service
  img(src='images/service-mobile.png', alt='Mobile Applications')
  h1.service-title Mobile Applications
  p Mobile is growing fast and with it comes new business opportunities. We create web and iOS native applications.
.service
  img(src='images/service-dev.png', alt='Agile Development')
  h1.service-title Cloud Development
  p We use the latest tools and practices that allow for rapid development of scalable systems.
.service
  img(src='images/service-projects.png', alt='Own Projects')
  h1.service-title Own Projects
  p Our entrepreneurial spirit leads us to be constantly nurturing ideas. We like to design and build our own products. We love <strong>open-source</strong> projects.
