h3 Meet the Team
ul#irbers.clearfix
  li.irber(itemscope, itemtype='http://schema.org/Person')
    figure
      img.irber-pic(src='images/team-alejandro.jpg', alt='Alejandro Vasta', itemprop='image')
      span.irber-social
        a.social-icon.social-icon-tw(target='_blank', href='http://twitter.com/alejandrovasta') Alejandro on Twitter
        a.social-icon.social-icon-lk(target='_blank', href='http://www.linkedin.com/pub/alejandro-vasta/14/751/37') Alejandro on LinkedIn
    p(itemprop='name') Alejandro Vasta
    p Account Manager
  li.irber(itemscope, itemtype='http://schema.org/Person')
    figure
      img.irber-pic(src='images/team-gustavo.jpg', alt='Gustavo Leguizamon', itemprop='image')
      span.irber-social
        a.social-icon.social-icon-gh(target='_blank', href='http://github.com/goopi') Gustavo on GitHub
        a.social-icon.social-icon-tw(target='_blank', href='http://twitter.com/goopi') Gustavo on Twitter
        a.social-icon.social-icon-lk(target='_blank', href='http://www.linkedin.com/in/gusleguizamonmobiledeveloper') Gustavo on LinkedIn
    p(itemprop='name') Gustavo Leguizamon
    p CTO
  li.irber(itemscope, itemtype='http://schema.org/Person')
    figure
      img.irber-pic(src='images/team-marcos.jpg', alt='Marcos Moline', itemprop='image')
      span.irber-social
        a.social-icon.social-icon-tw(target='_blank', href='http://twitter.com/marcosmoline') Marcos on Twitter
        a.social-icon.social-icon-lk(target='_blank', href='http://www.linkedin.com/in/marcosmolinemobiledeveloper') Marcos on LinkedIn
    p(itemprop='name') Marcos Moline
    p Mobile Lead Developer
