h3 Work
ul.products
  li.product-watch
    h2 Watch
    p Watch delivers a visual and uncluttered interface to discover movies.
    a(href='https://itunes.apple.com/en/app/watch/id757956450?l=en&mt=8')
      | View the App <span class="arrow">〉</span>
  li.product-coolibri
    h2 Coolibri
    p Coolibri creates a visual interpretation of tweets for a given hashtag.
    a(href='https://itunes.apple.com/en/app/coolibri/id780805465?l=en&mt=8')
      | View the App <span class="arrow">〉</span>
  li.product-spaces
    h2 Spaces
    p Your events made smarter than ever.
    a(href='#') Coming Soon
  li.product-ushuaia
    h2 UshuaiaMovil
    p Thinking Deep's tour and commercial guide of Ushuaia, the world's southernmost city.
    a(href='https://itunes.apple.com/ar/app/ushuaia-movil/id736051036?l=en&mt=8')
      | View the App <span class="arrow">〉</span>
  li.product-k2
    h2 EstaciónK2
    p K2 Radio Station's app to tune, listen and read all of K2's content.
    a(href='https://itunes.apple.com/ar/app/estacion-k2/id774905940?l=en&mt=8')
      | View the App <span class="arrow">〉</span>
  li.product-ioa
    h2 Italia on Air
    p Italia on Air is an app to bring closer a bit of Italian culture to anybody who longs for all things Italia.
    a(href='https://itunes.apple.com/en/app/italia-on-air/id797566003?l=en&mt=8')
      | View the App <span class="arrow">〉</span>
